.footer-feedback {
    background-image: url("../images/footer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 60px;

}
.footer-feedback:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg-color-primary);
    opacity: 0.7;
    z-index: 1;
}
.footer-feedback__content{
    flex-direction: column;
    z-index: 2;
    position: relative
}
.footer-feedback__content p{
    line-height: 150%;
    max-width: 836px;
    margin-bottom: 24px;
}
.footer-feedback__content h2{
    font-family: var(--font-family-secondary);
    font-style: italic;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
form{
    z-index: 3;
    width: 350px;
}

.field, #button{
    background-color: #FFFFFF;
    color: var(--font-color-secondary-grey);
    margin-bottom: 24px;
    width: 100%;
    height: 45px;
    padding: 10px 16px 10px 16px;
}
#button{
    width: 145px;
    background-color: #BAE249;
    color: var(--font-color-secondary-black);
    font-weight: 700;
    color: #0B1919;
    line-height: 100%;
    cursor: pointer;
}
#button:hover{
    background-color: #91AC46;
}
#button:focus{
    border: 1px solid #83A440;
}
#button:active{
    background-color: #688B05;
}
#button:disabled{
    background-color: #899D9D;
    color: #1D2F30;
}
.socials{
    display: flex;
    justify-content: center;
    padding: 18px 0 18px 0;
    gap: 30px;
    background-color: #0B1919;
}
.copyright{
    text-align: center;
    padding: 3px 0 3px 0;
}
.copyright p{
    color: #899D9D;
    font-size: 12px;
}