.header{
    background-color: var(--bg-color-primary);
}
.header__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 18px 0;
}
.header__buttons{
    display: flex;
    gap: 64px;
}
.search-button:hover, .log-in-button:hover{
    opacity: 0.8;
}
.search-button:focus, .log-in-button:focus{
    border: 1px solid #83A440;
    padding: 5px;
}
.search-button:active, .log-in-button:active{
    opacity: 0.4;
}

